# Contents
Import libraries and orders_products_merge_final.pkl

Filter data for first 1,000,000 rows

Define price_label column using if, else

Create price_range column

Create price_range using loc() function

Create price_range using for loop

Create busiest_day column

# Task
update busiest_day to busiest_days

find busiest hours of day

find busiest period of day

export data to orders_products_vars.pkl

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Samantha Ramos\Desktop\Instacart Basket Analysis 12-16-2023'

In [3]:
#import data
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merge_final.pkl'))

In [4]:
#filter for only 1,000,000 rows
df = df_ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 14)

In [6]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [7]:
#create price_label column
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [8]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_22040\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [9]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    652638
Low-range product    338018
High range             9344
Name: count, dtype: int64

In [10]:
df['prices'].max()

24.5

In [11]:
#create loc() function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_22040\1134640012.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [12]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [13]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [14]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: count, dtype: int64

In [15]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

In [19]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [20]:
#create busiest_day column
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [21]:
df_ords_prods_merge['busiest_day'] = result

In [22]:
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

# Task

In [23]:
#update busiest_day to busiest_days
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 1:
    result.append("Busiest day")    
  elif value == 4:
    result.append("Least busy")
  elif value == 3:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [24]:
df_ords_prods_merge['busiest_days'] = result

In [25]:
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12916111
Busiest day       11864412
Least busy         7624336
Name: count, dtype: int64

# Observations
The two busiest days make up about 37% of total orders. The next step would be to find out which products are purchased most of these days and advertise them more heavily

In [26]:
df_ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge', 'price_range_loc', 'busiest_day',
       'busiest_days'],
      dtype='object')

In [27]:
#find the busiest hours of day
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [28]:
#Separated the busiest hours of the day into three periods, flagged in the new "busiest_period_of_day" column
def orders(row):

  if row['order_hour_of_day'] == 10:
    return 'Most orders'
  elif row['order_hour_of_day'] == 11:
    return 'Most orders'
  elif row['order_hour_of_day'] == 4:
    return 'Fewest orders'
  elif row['order_hour_of_day'] == 3:
    return 'Fewest orders'
  else: return 'Average orders'

In [29]:
#create new "busiest_period_of_day" column
df['busiest_period_of_day'] = df.apply(orders, axis=1)

C:\Users\Samantha Ramos\AppData\Local\Temp\ipykernel_22040\2373247255.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['busiest_period_of_day'] = df.apply(orders, axis=1)

In [30]:
#Print the frequency of "busiest_period_of_day
df['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Average orders    825687
Most orders       171021
Fewest orders       3292
Name: count, dtype: int64

In [31]:
# Export altered dataframe to pkl

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_vars.pkl'))